<robot xmlns:xacro="http://ros.org/wiki/xacro" name="mark_base">
  <xacro:property name="base_geom">
    <geometry>
      <box size="0.166 0.125 0.036" />
    </geometry>
  </xacro:property>
  <xacro:property name="base_inertia">
    <inertial>
      <mass value="0.62" />
      <xacro:box_inertia m="0.62" d="0.166" w="0.125" h="0.036" />
    </inertial>
  </xacro:property>

  <xacro:property name="caster_origin" value="-0.073 0 -0.02" />
  <xacro:property name="caster_geom">
    <geometry>
      <sphere radius="0.010" />
    </geometry>
  </xacro:property>
  <xacro:property name="caster_inertia">
    <inertial>
      <mass value="0.5" />
      <xacro:sphere_inertia m="0.5" r="0.010" />
    </inertial>
  </xacro:property>

  <xacro:macro name="mark_base">
    <!-- Base -->
    <link name="base_link">
      <visual>
        <xacro:insert_block name="base_geom" />
        <material name="grey" />
      </visual>
      <collision>
        <xacro:insert_block name="base_geom" />
      </collision>
    </link>

    <!-- Inertial link stores the robot's inertial information
         Has to be defined separately because root links can't have intertial information directly -->
    <link name="inertial_link">
      <xacro:insert_block name="base_inertia" />
    </link>

    <joint name="inertial_joint" type="fixed">
      <parent link="base_link" />
      <child link="inertial_link" />
    </joint>

    <!-- Caster (i.e. back support) -->
    <link name="caster_link">
      <visual>
        <xacro:insert_block name="caster_geom" />
        <material name="grey" />
      </visual>
      <collision>
        <xacro:insert_block name="caster_geom" />
      </collision>
      <xacro:insert_block name="caster_inertia" />
    </link>

    <joint name="caster_to_base_joint" type="fixed">
      <parent link="base_link" />
      <child link="caster_link" />
      <origin xyz="${caster_origin}" />
    </joint>
  </xacro:macro>
</robot>