<robot xmlns:xacro="http://ros.org/wiki/xacro" name="mark_base">
  <xacro:property name="base_geom">
    <geometry>
      <box size="0.166 0.125 0.036" />
    </geometry>
  </xacro:property>

  <xacro:property name="caster_origin" value="-0.073 0 -0.02" />
  <xacro:property name="caster_geom">
    <geometry>
      <sphere radius="0.010" />
    </geometry>
  </xacro:property>

  <xacro:macro name="mark_base">
    <link name="world" />

    <!-- Base -->
    <link name="base_link">
      <visual>
        <xacro:insert_block name="base_geom" />
        <material name="grey" />
      </visual>
      <collision>
        <xacro:insert_block name="base_geom" />
      </collision>
    </link>

    <!-- Join the base to the "world" which will act as the unifying link of the whole robot
         This is needed for the robot to be imported properly in Unity -->
    <joint name="joint_world" type="fixed">
        <parent link="world" />
        <child link="base_link" />
        <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>

    <!-- Caster (i.e. back support) -->
    <link name="caster_link">
      <visual>
        <xacro:insert_block name="caster_geom" />
        <material name="grey" />
      </visual>
      <collision>
        <xacro:insert_block name="caster_geom" />
      </collision>
    </link>

    <joint name="caster_to_base_joint" type="fixed">
      <parent link="base_link" />
      <child link="caster_link" />
      <origin xyz="${caster_origin}" />
    </joint>
  </xacro:macro>
</robot>