<robot xmlns:xacro="http://ros.org/wiki/xacro" name="mark_ultrasonic">
  <xacro:property name="ultrasonic_sensor_base_geom">
    <geometry>
      <box size="0.001 0.047 0.03" />
    </geometry>
  </xacro:property>

  <xacro:property name="ultrasonic_sensor_geom">
    <geometry>
      <cylinder length="0.013" radius="0.0075" />
    </geometry>
  </xacro:property>
  <xacro:property name="ultrasonic_sensor_right_joint_pose">
    <!-- Rotate 90 degrees (in radians) -->
    <origin xyz="0.0076 0.012 -0.005" rpy="0 1.560795 0" />
  </xacro:property>
  <xacro:property name="ultrasonic_sensor_left_joint_pose">
    <!-- Rotate 90 degrees (in radians) -->
    <origin xyz="0.0076 -0.012 -0.005" rpy="0 1.560795 0" />
  </xacro:property>

  <!-- Macro for lateral support for holding the lens support -->
  <xacro:macro name="ultrasonic_sensor" params="prefix *joint_pose">
    <link name="ultrasonic_sensor_${prefix}_link">
      <visual>
        <xacro:insert_block name="ultrasonic_sensor_geom" />
        <material name="grey" />
      </visual>
      <collision>
        <xacro:insert_block name="ultrasonic_sensor_geom" />
      </collision>
    </link>

    <joint name="ultrasonic_sensor_${prefix}_to_sensor_base_joint" type="fixed">
      <parent link="ultrasonic_sensor_base_link" />
      <child link="ultrasonic_sensor_${prefix}_link" />
      <xacro:insert_block name="joint_pose" />
    </joint>
  </xacro:macro>

  <!-- Full ultrasonic sensor macro-->
  <xacro:macro name="mark_ultrasonic_sensor" params="parent *ultrasonic_sensor_base_joint_pose">
    <link name="ultrasonic_sensor_base_link">
      <visual>
        <xacro:insert_block name="ultrasonic_sensor_base_geom" />
        <material name="black" />
      </visual>
      <collision>
        <xacro:insert_block name="ultrasonic_sensor_base_geom" />
      </collision>
    </link>

    <joint name="ultrasonic_sensor_base_to_parent_link" type="fixed">
      <parent link="${parent}" />
      <child link="ultrasonic_sensor_base_link" />
      <xacro:insert_block name="ultrasonic_sensor_base_joint_pose" />
    </joint>

    <!-- Two ultrasonic sensors -->
    <xacro:ultrasonic_sensor prefix="right">
      <xacro:insert_block name="ultrasonic_sensor_right_joint_pose" />
    </xacro:ultrasonic_sensor>
    <xacro:ultrasonic_sensor prefix="left">
      <xacro:insert_block name="ultrasonic_sensor_left_joint_pose" />
    </xacro:ultrasonic_sensor>
  </xacro:macro>
</robot>